<style type="text/css" media="screen">
      body {
	text-align:center;
        margin: 0;
        margin-bottom: 25px;
        padding: 0;
        background-color: #f0f0f0;
        font-family: "Lucida Grande", "Bitstream Vera Sans", "Verdana";
        font-size: 13px;
        color: #333;
      }

      h1 {
        font-size: 28px;
        color: #000;
      }

</style>
<h1 align="center">COMING SOON</h1>
<h2>Ari? Ari.</h2>

Site in progress
Looking for consulting, tutoring, or freelance work? <a href="mailto:bonjourhi@arielle.rocks">Email Me!</a>



